*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: azure;
    margin: 0;
    padding: 0;

}
.cover-photo {
    width: 900px;
    height: auto;
    margin: 0% auto;
    max-width: 1000px;
    min-width: 700px;

}
.cover-photo img{
    width: 100%;
    height: auto;
}

.button{
    width: 100%;
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    height: 100px;
    min-width: 700px;
    max-width: 1100px;
}

 .btn1
 {
    width: 40%;
    display: inline-block;
}

.btn1 ul {
    width: 100%;
    margin-left: 10px;
}
.btn1 ul li a  {
    text-decoration: none;
    color: gray;
    width: 30px;
    border: 1px solid gray;
    padding: 0px 15px 0px 15px ;
    width: 50px;
}

.btn1 ul li {
    list-style: none;
    display: inline;
    line-height: 100px; 
    background-color: rgb(223, 223, 223); 
}


 .btn2  {
    width: 30%;
    display: inline-block;
    line-height: 100px;
    float: right;
}

.btn2 ul
{
    width: 100%;
    line-height: 100px;
    
}
.btn2 ul li{
    list-style: none;
    display: inline;
    line-height: 100px; 
    background-color: rgb(15, 99, 196);
    padding: 0px;
    margin: 0px;
    
}

.btn2 ul li a{
    text-decoration: none;
    color: white;
    width: 30px;
    border: 1px solid rgb(15, 99, 196);
    padding: 0px 50px 0px 50px ;
    width: 50px;
    margin: 0px;

}


.clear {
    clear: both;
}
